
.tb--svg {
	width: 32px;
}
/* SVG Styles */
.panel__body,
.knob__body {
	fill: #FFFFFF;
	transition: fill 200ms ease;
}
.panel__border,
.knob__border {
	fill: #999999;
	transition: fill 200ms ease;
}
.knob__body,
.knob__border {
	transition: transform 200ms cubic-bezier(0.82, 0.02, 0.21, 0.99), fill 200ms ease;
}

/* On */
#cb:checked + .tb--svg .panel__body,
#cb:checked + .tb--svg .panel__border,
#cb:checked + .tb--svg .knob__border {
	fill: #8cc63f;
}

/* Move Knob */
#cb:checked + .tb--svg .knob__body,
#cb:checked + .tb--svg .knob__border {
	transform: translateX(24px);
}