label {
	display: inline-block;
}
.toggle-button-trigger {
	display: none;
}
.toggle-button {
	width: 32px;
	height: 18px;
	position: relative;
	top: 4px;
}

/* Unchecked */
.toggle-button-panel-body,
.toggle-button-knob-body {
	color: #FFFFFF;
	transition: color 200ms ease;
}
.toggle-button-panel-border,
.toggle-button-knob-border {
	color: #999999;
	transition: color 200ms ease;
}
.toggle-button-knob-body,
.toggle-button-knob-border {
	transition: transform 200ms cubic-bezier(0.82, 0.02, 0.21, 0.99), color 200ms ease;
}

/* Checked State */
.toggle-button-trigger:checked + .toggle-button .toggle-button-knob-body,
.toggle-button-trigger:checked + .toggle-button .toggle-button-knob-border {
	transform: translateX(24px);
}
.toggle-button-trigger:checked + .toggle-button .toggle-button-panel-body,
.toggle-button-trigger:checked + .toggle-button .toggle-button-panel-border,
.toggle-button-trigger:checked + .toggle-button .toggle-button-knob-border {
	color: #8cc63f;
}

/* Custom Color */
.toggle-button-trigger:checked + .toggle-button.toggle-button--error .toggle-button-panel-body,
.toggle-button-trigger:checked + .toggle-button.toggle-button--error .toggle-button-panel-border,
.toggle-button-trigger:checked + .toggle-button.toggle-button--error .toggle-button-knob-border {
	color: red;
}
